:root {
  --primary-color: #68f9fa;
  --secondary-color: #455f5f;
  --tertiary-color: #54c7c7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: var(--secondary-color);
}

p {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 5px;
}

a:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

section {
  display: flex;
  flex-wrap: nowrap;
}

.section-title {
  color: var(--secondary-color);
  border-right: 4px solid var(--secondary-color);
  min-width: 15%;
  text-align: right;

  padding: 20px;
  margin: 20px;

  font-size: xx-large;
}

/* END GENERIC */
/* START HEADER */

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  position: -webkit-sticky;
  position: sticky;
  height: 80px;
  align-items: center;
}

header h1 {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
  padding: 3px 10px 3px 150px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

header nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: larger;
  margin: 10px 15px;
  border-bottom: 2px solid var(--primary-color);
}

header nav ul li a:hover {
  /* todo */
}

/* END HEADER */
/* START HERO */
.hero {
  background-image: url("../images/tj-photo.jpg");
  background-size: cover;
  background-position: 80%;
  color: var(--secondary-color);
  justify-content: right;
  height: 650px;
  margin: 0;
  position: relative;
}

.hero h2 {
  background-color: var(--primary-color);
  margin: 10px 0 10px 200px;
  position: absolute;
  right: 7%;
  top: 75%;
  padding: 10px 20px;
  border-radius: 7px;
}

/* END HERO */

.main-box {
  margin: 0 100px;
}
/* START ABOUT-ME */

#about-me {
}

#about-me p {
  padding: 25px;
  font-size: x-large;
}
/* END ABOUT-ME */
/* START WORK */
#work-section {
}

.works {
  display: flex;
  flex-wrap: wrap-reverse;
}

.work-tile {
  flex: 1 40%;
  margin: 5px;
  border: 10px solid var(--primary-color);
  position: relative;
  height: 20vw;
  overflow: hidden;
}

.work-tile a {
  padding: 0 0;
}

.work-tile:hover {
  border: 10px solid var(--secondary-color);
}

.works img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works img:hover {
  opacity: 0.75;
}

.work-tag {
  background-color: var(--primary-color);
  position: absolute;
  padding: 10px 35px;
  bottom: 20px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.work-tag h3 {
  font-size: x-large;
}

.work-tag h4 {
  font-size: larger;
}
/* END WORK */
/* START CONTACT-ME */
#contact-me {
  display: flex;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.c-link {
  margin: 20px;
  font-size: larger;
}

.contact-links a {
  border-bottom: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  margin: 10px;
  text-decoration: none;
}

/* END CONTACT SECTION */
/* START FOOTER SECTION */
footer {
  background-color: var(--secondary-color);
  padding: 20px;
  text-align: right;
}

footer h3 {
  color: var(--primary-color);
  font-size: smaller;
}

footer p {
  color: var(--primary-color);
  font-size: x-small;
}
/* END FOOTER SECTION */
